@model ASM.Models.Course
@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Add Course</a> </div>
    <h1>Add Course</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <form action="AddCourse" method="POST" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">CourseID</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.CourseID)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Course Name</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Course_Name)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Description)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">CategoryID</label>
                            <div class="controls">
                                <div style="width : 30%">
                                    @Html.DropDownListFor(a => a.CategoryID, new SelectList(Model.cateCollection, "CategoryID", "CategoryID", "Select"))
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">UserID(for trainee)</label>
                            <div class="controls">
                                <div style="width : 30%">
                                    @Html.DropDownListFor(a => a.UserID, new SelectList(Model.IdCollection2, "UserID", "UserID", "Select"))
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

