@model ASM.Models.Profile_User
@{
    ViewBag.Title = "AddPro";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Add Pro</a> </div>
    <h1>Add Information</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <form action="AddPro" method="POST" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">UserID</label>
                            <div class="controls">
                                <div style="width : 30%">
                                    @Html.DropDownListFor(a => a.UserID, new SelectList(Model.IdCollection, "UserID", "UserID", "Select"), new { @id = "UserID", @onchange = "CheckValue()" })
                                    <p id="Status"></p>
                                </div> 
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Full Name</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Full_Name)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Address</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Address)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Phone</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Phone, new { @id = "Phone", @onchange = "CheckValue2()" })
                                <p id="Status2"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date of Birth</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.DateOfBirth)
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function CheckValue() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckProId", "StaffPage")",
            {
                check: $("#UserID").val()
            },
    function (data) {
        if (data == 0) {
            $("#Status").html('<font color="Green"> Avaiable! you can use it.</font>');
            $("#UserID").css("border-color", "Green");
        }
        else {
            $("#Status").html('<font color="Red"> User is Exits.</font>');
            $("#UserID").css("border-color", "Red");
        }
        });
    }

    function CheckValue2() {
        $("#Status2").html("Checking...");
        $.post("@Url.Action("CheckPhone", "StaffPage")",
            {
                phone: $("#Phone").val()
            },
    function (data) {
        if (data == 0) {
            $("#Status2").html('<font color="Green"> Avaiable! you can use it.</font>');
            $("#Phone").css("border-color", "Green");
        }
        else {
            $("#Status2").html('<font color="Red"> User is Exits Or != 10.</font>');
            $("#Phone").css("border-color", "Red");
        }
        });
    }
</script>

