@model ASM.Models.User_Account

@{
    ViewBag.Title = "EditAccountTrainee";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}


    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Account Staff (Edit)</a> </div>
        <h1>Account Staff (Edit)</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <form action="EditAccountTrainee" method="POST" class="form-horizontal" enctype="multipart/form-data">
                            <div class="control-group">
                                <label class="control-label">UserID :</label>
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.UserID, new { @id = "UserID", @onchange = "CheckValue()" })
                                    <p id="Status"></p>
                                </div>
                            </div><div class="control-group">
                                <label class="control-label">Username :</label>
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.UserName, new { @id = "UserName", @onchange = "CheckValue2()" })
                                    <p id="Status2"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Password</label>
                                <div class="controls">
                                    @Html.EditorFor(x => x.Password)
                                </div>
                            </div>
                            <div class="control-group">
                                    @Html.HiddenFor(x => x.Position)
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div style="font-size : 15px; font-weight : bold ; " >
    @Html.ActionLink("Back to List", "TraineeAccount" , "StaffPage")
</div>
<script>
    function CheckValue() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckValueTrainee", "StaffPage")",
            {
                check: $("#UserID").val()
            },
    function (data) {
        if (data == 0) {
            $("#Status").html('<font color="Green"> Avaiable! you can use it.</font>');
            $("#UserID").css("border-color", "Green");
        }
        else {
            $("#Status").html('<font color="Red"> User is Exits.</font>');
            $("#UserID").css("border-color", "Red");
        }
        });
    }

    function CheckValue2() {
        $("#Status2").html("Checking...");
        $.post("@Url.Action("CheckNameTrainee", "StaffPage")",
            {
                username: $("#UserName").val()
            },
    function (data) {
        if (data == 0) {
            $("#Status2").html('<font color="Green"> Avaiable! you can use it.</font>');
            $("#UserName").css("border-color", "Green");
        }
        else {
            $("#Status2").html('<font color="Red"> User is Exits.</font>');
            $("#UserName").css("border-color", "Red");
        }
        });
    }
</script>