@model ASM.Models.Course

@{
    ViewBag.Title = "EditCourse";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}




<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Edit Course</a> </div>
    <h1>Edit Course</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <form action="EditCategory" method="POST" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">CourseID :</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.CourseID)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Course Name :</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.Course_Name)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                @Html.TextAreaFor(x => x.Description)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">CategoryID</label>
                            <div class="controls" style="width: 30%">
                                @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)ViewBag.CategoryList)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls" style="width: 30%">
                                @Html.DropDownList("UserID", (IEnumerable<SelectListItem>)ViewBag.userList)
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "CourseMana" , "StaffPage")
</div>

