<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Website/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Website/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Website/css/uniform.css" />
    <link rel="stylesheet" href="~/Website/css/select2.css" />
    <link rel="stylesheet" href="~/Website/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Website/css/matrix-media.css" />
    <link href="~/Website/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    @if (Session["position"].ToString() != "trainer" & (Session["position"].ToString() != "trainee"))
    {
        <script>
            window.location.href = "/Home/Login";
        </script>
    }
    <!--Header-part-->
    <div id="header">
        <h1><a href="dashboard.html">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
                    <i class="icon icon-user"></i>  <span class="text">
                        @if (Session["username"] != null)
                        {
                            <text>
                                Welcome @Session["username"].ToString()
                            </text>
                        }
                    </span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                </ul>
            </li>

            <li class=""><a title="" href="/Home/Logout/"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
        </ul>
    </div>
    <!--start-top-serch-->
    <div id="search">
        <input type="text" placeholder="Search here..." />
        <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
    </div>
    <!--close-top-serch-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-th"></i>Table</a>
        <ul>
            <li>@Html.ActionLink("Profile", "ProfileTrainer", "Trainer")</li>
            <li>@Html.ActionLink("Course/Topic", "Management", "Trainer")</li>
        </ul>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
    </div>
    <!--end-Footer-part-->
    <script src="~/Website/js/jquery.min.js"></script>
    <script src="~/Website/js/jquery.ui.custom.js"></script>
    <script src="~/Website/js/bootstrap.min.js"></script>
    <script src="~/Website/js/jquery.uniform.js"></script>
    <script src="~/Website/js/select2.min.js"></script>
    <script src="~/Website/js/jquery.dataTables.min.js"></script>
    <script src="~/Website/js/matrix.js"></script>
    <script src="~/Website/js/matrix.tables.js"></script>
</body>
</html>